
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
    shape-rendering: geometricPrecision;

}

body{
    background-color: hsl(195, 17%, 95%);
    height: 100vh;
}

#root{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 1em;
    height: 100vh;
    font-family: 'Figtree', sans-serif;

}

h1{
    grid-row: 2;
    grid-column: 5 / 8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todoListWrapper{
    grid-row: 3 / 6;
    grid-column: 5 / 8;
    background-color: white;
    padding: 3em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    box-shadow: 0px 10px 20px -12px hsla(0, 0%, 11%, 0.233);
}

form{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    width: 100%;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-bottom: 1em;
    
}

input{
    /* background-color: yellow; */
    border: none;
    height: 40px;
    width: 100%;
    font-size: 0.9rem;
    letter-spacing: 0.02em;
    font-family: 'Figtree', sans-serif;

}

input:active{
    border: none;
    outline: none;
    
}
input:focus{
    border: none;
    outline: none;
}

::placeholder{
    color: rgb(182, 182, 182);
}





.addButton{
    
    height: 40px;
    width: auto;
    border: none;
    background: none;
    font-size: 1em;
    font-weight: 700;
    color: hsl(256, 92%, 40%);
    
}

.deleteButton{

    height: 48px;
    width: 48px;
    width: auto;
    border: none;
    background: none;
    font-weight: 700;
    color: hsl(0, 0%, 75%);

}


ul{

    /* background-color: blue; */
    height: 40px;
    width: 100%;
   

    & li{
        /* background-color: brown; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        color: hsl(0, 0%, 23%);
        /* padding: 1em; */
    }

}

